{% extends 'base.html.twig' %}

{% block title %}Mon-CV{% endblock %}

{% block body %}
{% include "home/nav.html.twig" %}





<h1>Mon Curriculum Vitae</h1>


<h2 class="mes-formations">Mes formations</h2>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Formation Concepteur développeur d’application -
Contrat d’apprentissage en alternance
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>De juin 2022 à Octobre 2023</strong> 
       <p>Ecole o'clock</p>


<p>- PHP Orienté objet avec l’apprentissage du Framework
Laravel</p>
<p>- Javascript et le Framework Vue.js </p>
<p>- Node.js et Expresse</p>
<p>- API (REST, GraphQL, Websockets)</p> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Formation développeur Web et web mobile titre 
professionnel niveau V – 2022
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>De juin 2022 à janvier 2022</strong>
        <p>DORANCO école supérieur des technologies créatives
 </p>
         <p>– 798 h intensive et 5 semaines de stage en 
entreprise </p>
         <p>- 4 mois de socle : HTML/CSS PHP/SYMFONY </p>
         <p>- Javascript/ReactJS/JQuery, UML, SQL, méthode agile.
 </p>
         <p>- Préparation de mon projet de fin de formation en parallèle : 
<a href= "https://www.amcem-menuiserie.fr">https://www.amcem-menuiserie.fr</a></p>
         <p>- Conception de multiple projet en PHP/Symfony (Un blog) ainsi 
qu’en Html/css </p>
         <p> </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Baccalauréat Professionnel en Comptabilité
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>2013</strong>
        <p>Lycée Charles Baudelaire (Fosses)

 </p>
      </div>
    </div>
  </div>
</div>

<h2 class="mes-formations">Mes experiences professionel</h2>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        Stagiaire développeur Web

      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>D’octobre 2021 à février 2022
</strong> 
       <p>- Développement de la partie backend en PHP/Symfony</p>
<p>- Développement de la partie frontend avec html/Css Bootstrap </p>
<p>- Création d’un cahier des charges disponible en ligne</p>
<p>- Mis en production du site web : https://www.amcem-menuiserie.fr</p> 

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Multiples CDI et CDD
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>D’octobre 2021 à février 2022
</strong>
        <p>Dans le domaine de la logistique et de l’administration
 </p>
         <p>– Gestion des stocks </p>
         <p>- 4 mois de socle : HTML/CSS PHP/SYMFONY </p>
       <p>- Responsable de la vente de l’entreprise
 </p>
 
      </div>
    </div>
  </div>
  
</div>
<div class ="container-lien">
<a href="documents/CVIstanbulluYasin.pdf"  download="CVIstanbulluYasin.pdf" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Télécharger mon CV</a>
</div>




{# <a class="lien-cv"href="documents/CVIstanbulluYasin.pdf"
   download="CVIstanbulluYasin.pdf">Télécharger mon CV</a> #}
{# <div class="formations">
<h2 class="mes-formations">Mes formations</h2>
<h3>Formation Concepteur développeur d’application -
Contrat d’apprentissage en alternance</h3>
<p>De juin 2022 à Octobre 2023</p> 

<p>Ecole o'clock</p>


<p> PHP Orienté objet avec l’apprentissage du Framework
Laravel</p>
<p>Javascript et le Framework Vue.js </p>
<p> Node.js et Expresse</p>
<p> API (REST, GraphQL, Websockets)</p> 



<h3>Formation développeur Web et web mobile titre 
professionnel niveau V – 2022</h3> 
<p>De juin 2022 à janvier 2022</p> 

<p>DORANCO école supérieur des technologies créatives
 </p>


<h3>Baccalauréat Professionnel en Comptabilité
</h3>
<p>2013</p>  
<p>Lycée Charles Baudelaire (Fosses)

 </p>
</div>
<h2>Mes experiences professionel</h2>



</div> #}

{% include "home/footer.html.twig" %}

{% endblock %}
