{% extends 'base.html.twig' %}

{% block title %}Istanbullu Yasin{% endblock %}

{% block body %}
{% block nav %}
{% include "home/nav.html.twig" %}
{% endblock %}

{% block content %}
<h1>Ma presentation</h1> 
<div class = "container">
<div class= "image">
<img class="photo" src="images/photo-moi.jpg">
</div>
<div class = "text">
<p> orem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam volutpat dui a magna imperdiet, sit amet pellentesque turpis pretium. In tristique maximus magna in convallis. Phasellus placerat lectus eget eros mollis varius id nec sem. Aliquam erat volutpat. Duis non lorem eu nisl sagittis vestibulum ornare vitae nunc. Fusce malesuada felis ac massa dignissim congue. Suspendisse suscipit mollis arcu quis semper. Integer accumsan, arcu nec pharetra ultrices, turpis velit elementum mauris, eget dictum sapien nunc id sem. Fusce finibus ex vitae augue fermentum imperdiet. Etiam sit amet consequat tellus. Nulla non arcu nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Nunc at neque eu enim luctus aliquet. Morbi id congue sapien. Morbi pulvinar ex nibh, eu pretium lectus vestibulum quis. Vestibulum malesuada condimentum pretium. Suspendisse laoreet tincidunt eros sit amet vehicula. Cras ut lorem quam. Phasellus ac libero iaculis, ullamcorper augue sed, auctor est.

Vestibulum non augue bibendum lectus mattis sollicitudin vitae vel ipsum. Fusce in nibh et dui sollicitudin maximus. Integer id ligula nec sem consectetur pharetra. Nulla ullamcorper dapibus mi eget euismod. Integer vitae elementum enim. Morbi dictum dolor velit, ut dignissim mi posuere a. Duis pretium efficitur velit vitae consequat. Maecenas sem lacus, maximus non odio vehicula, varius sodales est. Nulla ut consequat orci. Maecenas hendrerit commodo ipsum interdum egestas. Vestibulum tempor massa velit, eget fringilla libero efficitur id. Integer interdum eu sem non tincidunt. Etiam non commodo ex.

</p>
</div>
</div>
 
{% include "home/footer.html.twig" %}

{% endblock %}

{% endblock %}
