
<nav>

    <a href="{{path('app_home')}}" class="nav-icon" aria-label="visit homepage" aria-current="page">
        <!-- <img src="ressources/chat.svg" alt="chat icon">       -->
        <span>Istanbullu Yasin</span>
    </a>

    <div class="main-navlinks">
        <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navlinks-container">
            <a href="{{path('app_cv')}}" aria-current="page">Mon CV</a>
            <a href="#">Mes projets</a>
            <a href="#">Mes compétences</a>
            <a class="contact" href="#">Contactez-moi</a>

        </div>
    </div>



    </div>
</nav>
<script src="js/script.js"></script>